version: '3.9'

services:
  frontend:
    build: ./frontend
    ports:
      - '3000:80'
    volumes:
      - ./frontend:/app
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - '5000:5000'
    volumes:
      - ./backend:/app
    environment:
      - PORT=5000
